<% js('feedback') %>
<div class="row">
  <div class="col-12">
    <div class="feedback">
      姓名 <input id="name" type="text" placeholder="姓名" /></br></br>
      電子信箱 <input id="email" type="text" placeholder="電子信箱" /></br></br>
      標題 <input id="title" type="text" placeholder="標題" /></br></br>
      <textarea id="content" cols="50" rows="5" placeholder="內文(需超過10字)"></textarea></br></br>
      驗證碼 <%- partial('_widget/verify') %>
      </br></br>
      <button class="btn btn-primary" onclick="feedback()">送出</button>
    </div>
  </div>
</div>