<%
const stations = {
  head: [
  '車站名稱','地址','電話'
  ],
  body: [
    ['基隆站','200 基隆市仁愛區港西街3號','02-24222624'],
    ['臺北轉運站','103 台北市大同區市民大道一段209號','02-25583060'],
    ['臺北車站(國光)','100 台北市中正區市民大道一段168號','02-23617965'],
    ['臺北車站(北一門)','(台北車站北一門外)','0988-579-829'],
    ['市府轉運站','110 台北市信義區忠孝東路五段6號','無'],
    ['圓山轉運站','104 台北市中山區玉門街9號對面','0988-579-826'],
    ['南港轉運站','115 台北市南港區忠孝東路7段359號','02-27837415'],
    ['捷運南港展覽館站','115 台北市南港區經貿二路1號(163櫃)','02-27839533'],
    ['松山機場','105 台北市松山區敦化北路340之9號','無'],
    ['重陽站','241 新北市三重區重陽路四段53號','02-89881160'],
  ]
}
%>

<div class="row">
  <div class="col-12">
    <div id="station">
      <table>
        <thead>
          <% for(const head of stations.head) { %>
          <th><%- head %></th>
          <% } %>
        </thead>
        <% for(const body of stations.body) { %>
        <tbody>
          <tr>
            <% for(const item of body) { %>
            <td><%- item %></td>
            <% } %>
          </tr>
        </tbody>
        <% } %>
        </tfoot>
      </table>
    </div>
  </div>
</div>