<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app" v-cloak>

        <h2>Password</h2>

        <div class="password">
            <input :class='{valid:passwordValidation.valid}' :type="passwordVisible ? 'text' : 'password'"
                v-model="password">
            <button class="visibility" tabindex='-1' @click='togglePasswordVisibility'
                :arial-label='passwordVisible ? "Hide password" : "Show password"'>
                <i class="material-icons">{{ passwordVisible ? "visibility" : "visibility_off" }}</i>
            </button>
        </div>

        <input type="password" v-model.lazy='checkPassword'>

        <transition name="hint" appear>
            <div v-if='passwordValidation.errors.length > 0 && !submitted' class='hints'>
                <h2>Hints</h2>
                <p v-for='error in passwordValidation.errors'>{{error}}</p>
            </div>
        </transition>

        <div class="matches" v-if='notSamePasswords'>
            <p>Passwords don't match.</p>
        </div>

        <button @click='resetPasswords' v-if='passwordsFilled && !notSamePasswords && passwordValidation.valid'>
            Submit
        </button>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <!-- 引用Vue.js -->
    <!--開發版本-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--生產版本-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <!-- axios -->
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="/js/behaviour.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data() {
                return {
                    rules: [
                        { message: 'One lowercase letter required.', regex: /[a-z]+/ },
                        { message: "One uppercase letter required.", regex: /[A-Z]+/ },
                        { message: "8 characters minimum.", regex: /.{8,}/ },
                        { message: "One number required.", regex: /[0-9]+/ }
                    ],
                    password: '',
                    checkPassword: '',
                    passwordVisible: false,
                    submitted: false
                }
            },
            methods: {
                resetPasswords() {
                    this.password = ''
                    this.checkPassword = ''
                    this.submitted = true
                    setTimeout(() => {
                        this.submitted = false
                    }, 2000)
                },
                togglePasswordVisibility() {
                    this.passwordVisible = !this.passwordVisible
                }
            },
            computed: {
                notSamePasswords() {
                    if (this.passwordsFilled) {
                        return (this.password !== this.checkPassword)
                    } else {
                        return false
                    }
                },
                passwordsFilled() {
                    return (this.password !== '' && this.checkPassword !== '')
                },
                passwordValidation() {
                    let errors = []
                    for (let condition of this.rules) {
                        if (!condition.regex.test(this.password)) {
                            errors.push(condition.message)
                        }
                    }
                    if (errors.length === 0) {
                        return { valid: true, errors }
                    } else {
                        return { valid: false, errors }
                    }
                }
            }
        })
    </script>
</body>

</html>