<div class="row">
  <div class="col-12">
    <div id="login">
      <div class="field">
        <div>帳號</div>
        <input id="username" type="text">
      </div>
      <div class="field">
        <div>密碼</div>
        <input id="password" type="password">
      </div>
      <button class="btn btn-primary" onclick="login()">登入</button>
      <a class=" btn btn-dark" href="sign-up">註冊</a>
    </div>
  </div>
</div>