<%
let nickname = ""
let cellphone = ""
let email = ""
if(userdata) {
    nickname = userdata.nickname
    cellphone = userdata.cellphone
    email = userdata.email
}
%>

<div class="row">
  <div class="col-12">
    <h2>基本資料</h2>
    <div id="sign-up">
      暱稱 <input id="nickname" type="text" placeholder="暱稱" value="<%- nickname %>"></br></br>
      手機號碼 <input id="cellphone" type="text" placeholder="手機" value="<%- cellphone %>"></br></br>
      電子信箱 <input id="email" type="text" placeholder="電子信箱" value="<%- email %>"></br></br>
      <button class=" btn btn-primary" onclick="setInfo()">修改</button>
    </div>
    <h2>修改密碼</h2>
    <div id="sign-up">
      舊的密碼 <input id="oldPassword" type="password" placeholder="舊的密碼"></br></br>
      新的密碼 <input id="password" type="password" placeholder="新的密碼"></br></br>
      確認密碼 <input id="checkPassword" type="password" placeholder="確認密碼"></br></br>
      <button class=" btn btn-primary" onclick="setPassword()">修改</button>
    </div>
  </div>
</div>