<footer class="page-footer font-small blue">
  <footer class="page-footer font-small blue pt-4">
    <!-- links -->
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase">顆顆客運</h5>
          <p>
            CoCo Official Web
          </p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3" />

        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Follow</h5>

          <ul class="list-unstyled">
            <li>
              <p></p>
            </li>
            <li>
              <p><a href="#!">CoCo Official</a></p>
            </li>
            <li>
              <p><a href="#!">Facebook</a></p>
            </li>
            <li>
              <p><a href="#!">Instagram</a></p>
            </li>
            <li>
              <p><a href="#!">LINE@</a></p>
            </li>

          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Where to find us</h5>

          <ul class="list-unstyled">
            <li>
              <p></p>
            </li>
            <li>
              <p><a href="mailto:cocoofficial@gmail.com">MAIL：cocoofficial</a></p>
            </li>
            <li>
              <p>Address：404台中市北區三民路三段129號</p>
            </li>
            <li>
              <p href="#!">Telephone：(04)-7654321</p>
            </li>
            <li>
              <p href="#!">Fax：(04)-1234567</p>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <!-- copyright -->
    <div class="footer-copyright text-center py-3">
      Copyright © 2019 COCO All rights reserved.
      <a href="https://mdbootstrap.com/education/bootstrap/">
      </a>
    </div>
  </footer>
</footer>